<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.dshbox.remote-host</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>exec __REPO_ROOT__/macos/launch-agent/run-remote-host.sh</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>DSH_REMOTE_HARNESS_URL</key>
    <string>__HARNESS_URL__</string>
    <key>DSH_REMOTE_HARNESS_AUTH_URL_FILE</key>
    <string>__HARNESS_AUTH_URL_FILE__</string>
    <key>DSH_REMOTE_HARNESS_AUTH_COOKIE_FILE</key>
    <string>__HARNESS_AUTH_COOKIE_FILE__</string>
    <key>DSH_REMOTE_HARNESS_POLL_SECONDS</key>
    <string>__HARNESS_POLL_SECONDS__</string>
    <key>DSH_REMOTE_PORT</key>
    <string>__REMOTE_PORT__</string>
    <key>DSH_REMOTE_STATIC_DIR</key>
    <string>__STATIC_DIR__</string>
    <key>DSH_REMOTE_STATE_FILE</key>
    <string>__STATE_FILE__</string>
    <key>DSH_REMOTE_CAFFEINATE</key>
    <string>__CAFFEINATE__</string>
    <key>DSH_REMOTE_IDENTITY_PROVIDER</key>
    <string>__IDENTITY_PROVIDER__</string>
    <key>DSH_REMOTE_ALLOWED_DEVICE_IDS</key>
    <string>__ALLOWED_DEVICE_IDS__</string>
    <key>DSH_REMOTE_SECRET_STORE</key>
    <string>__SECRET_STORE__</string>
    <key>DSH_REMOTE_CHECKS_FILE</key>
    <string>__CHECKS_FILE__</string>
    <key>DSH_REMOTE_PREVIEWS_FILE</key>
    <string>__PREVIEWS_FILE__</string>
    <key>DSH_REMOTE_PREVIEW_SECRET</key>
    <string>__PREVIEW_SECRET__</string>
    <key>DSH_REMOTE_VAPID_SUBJECT</key>
    <string>__VAPID_SUBJECT__</string>
    <key>DSH_REMOTE_VAPID_PUBLIC_KEY</key>
    <string>__VAPID_PUBLIC_KEY__</string>
    <key>DSH_REMOTE_VAPID_PRIVATE_KEY</key>
    <string>__VAPID_PRIVATE_KEY__</string>
    <key>DSH_REMOTE_VAPID_KEYS_FILE</key>
    <string>__VAPID_KEYS_FILE__</string>
    <key>DSH_REMOTE_PUSH_SUBSCRIPTIONS_FILE</key>
    <string>__PUSH_SUBSCRIPTIONS_FILE__</string>
    <key>DSH_REMOTE_NODE</key>
    <string>__NODE_BIN__</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>__HOME__/.dsh-remote/logs/remote-host.out.log</string>
  <key>StandardErrorPath</key>
  <string>__HOME__/.dsh-remote/logs/remote-host.err.log</string>

  <key>LimitLoadToSessionType</key>
  <string>Aqua</string>
</dict>
</plist>
